{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 3</h1>

  <p>Name: {{name}}</p>
  <p>Student ID: {{id}}</p>

  <table>
    <tr>
      <th>Title</th>
      <th>Watched</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>

    {% for movie in watchlist %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.watched | yesno:"Yes,No"}}</td>
        <td>{{movie.rating}}</td>
        <td>{{movie.release_date}}</td>
        <td>{{movie.review}}</td>
      </tr>
    {% endfor %}
  </table>
  <br>
  {% if watched_more %}
    <p>Congratulations, you have watched movies a lot!</p>
  {% else %}
    <p>Woah, you have not much watched movies!</p>
  {% endif %}
 {% endblock content %}
